body{
  background-color: #1A3636;
  color: #D6BD98;
}
main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button{
  background-color: transparent;
  color: #d6d6d6;
  border: none;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.with-text{
  width: auto;
  background-color: #40534C;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}
button.with-text svg{
  width: 36px;
  float: left;
  margin-right: 5px;
}

label{
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: capitalize;
}